<font class="darkTextSmall">
      <p>About:</p>
      <p>This is a GeoFence Admin Application created to help you draw GeoFences around your offices for employees to be able to easily track their time.</p>
      <p>Please go to the login page to login with your Oracle cloud credentials to start creating GeoFences 
</font>
